<div class="content">

  <main class="main">

    <h1 class="person-name">{{person.name}}</h1>
    {{#if summary}}
    <section class="summary">
      {{summary}}
    </section>
    {{/if}}

    <div class="contact">

      {{#if person.email}}
      <span>{{person.email}}</span>
      {{/if}}

      {{#if person.phone}}
      <span>{{person.phone}}</span>
      {{/if}}

      {{#if person.location}}
      <span>{{person.location}}</span>
      {{/if}}

      {{#if person.linkedin}}
      <span>
        <a href="{{person.linkedin.url}}">{{person.linkedin.display}}</a>
      </span>
      {{/if}}

      {{#if person.website}}
      <span>
        <a href="{{person.website.url}}">{{person.website.display}}</a>
      </span>
      {{/if}}

    </div>



    <section class="work-experience">

      <h2>Berufserfahrung</h2>

      {{#each work_experience}}

      <article class="job">

        <div class="work-item">
          <h3>{{position}} — {{company}}</h3>

          {{#if start}}
          {{#if end}}
          <div class="date">{{start}} — {{end}}</div>
          {{else}}
          <div class="date">{{start}} — Present</div>
          {{/if}}
          {{else}}
          {{#if end}}
          <div class="date">{{end}}</div>
          {{/if}}
          {{/if}}
        </div>
        <div class="bullet-points">
          {{#if bullet_points}}
          <ul>
            {{#each bullet_points}}
            {{> bullet}}
            {{/each}}
          </ul>
          {{/if}}
        </div>
      </article>

      {{/each}}

    </section>
    <section class="education">

      <h2>Ausbildung</h2>

      {{#each education}}

      <article class="education-item">

        <div class="work-item">
          <div>
            <h3>{{degree}}</h3>
            <h4>{{institution}}</h4>
          </div>

          {{#if start}}
          {{#if end}}
          <div class="date">{{start}} — {{end}}</div>
          {{else}}
          <div class="date">{{start}} — present</div>
          {{/if}}
          {{else}}
          {{#if end}}
          <div class="date">{{end}}</div>
          {{/if}}
          {{/if}}
        </div>

        {{#if notes}}
        <p><i><u>{{notes}}</u></i></p>
        {{/if}}
        {{#if dissertation_title}}
        <div class="dissertation-title">
        Dissertation: <i>{{dissertation_title}}</i>
        </div>
        {{/if}}
        {{#if bullet_points}}
        <ul>
          {{#each bullet_points}}
          {{> bullet}}
          {{/each}}
        </ul>
        {{/if}}

      </article>

      {{/each}}

    </section>

  </main>


  <aside class="sidebar">

    {{#if person.photo}}
    <img class="profile-photo" src="{{person.photo}}" alt="{{person.name}}">
    {{/if}}


    {{#if languages}}
    <section class="sidebar-section">

      <h3>Sprachen</h3>

      <ul>
        {{#each languages}}
        <li>
          <span>{{language}} — {{level}}</span>
        </li>
        {{/each}}
      </ul>

    </section>
    {{/if}}


    {{#if technical_skills}}
    <section class="sidebar-section">

      <h3>Technische Kenntnisse</h3>

      {{#each technical_skills}}

      <h4>{{item}}</h4>

      <ul>
        {{#each children}}
        <li>{{text}}</li>
        {{/each}}
      </ul>

      {{/each}}

    </section>
    {{/if}}

    {{#if projects}}
    <section class="sidebar-section">
      <h3>Ausgewählte Projekte</h3>

      {{#each projects}}
      <a class="sidebar-projects" href="{{link}}">{{name}}</a>

      <div class="sidebar-tags">
        {{#each tags}}
        {{#unless @first}} · {{/unless}}
        {{this}}
        {{/each}}
      </div>
      {{/each}}

    </section>
    {{/if}}


    {{#if publications}}
    <section class="sidebar-section">
      <h3>Publikationen</h3>
      <a href="https://furnas.eu/#publications">furnas.eu/#publications</a>
    </section>
    {{/if}}

    {{#if additional_info}}
    <section class="sidebar-section">

      <h3>Weitere Informationen</h3>

      {{#each additional_info}}
      {{#if driving_license}}
      Führerschein — {{driving_license}}
      {{/if}}
      {{/each}}


    </section>
    {{/if}}


    {{#if interests}}
    <section class="sidebar-section">

      <h3>Interessen</h3>

      {{#each interests}}
      {{#each tags}}
      {{this}}
      {{/each}}
      {{/each}}

    </section>
    {{/if}}

  </aside>

</div>